<!-- <h3>{{title}}</h3>
<ul>
<input type ="text"  placeholder="Enter your Name" #name />
<button (click)="addname(name.value)"> Add</button>
<button >Search</button><br><br>
<li *ngFor="let item of list">{{item.username}} 
  <button (click)="capitalName(item)">capitalize</button>

 </li>
</ul> -->

<h3>{{title}}</h3>
<input type="text" placeholder="Search Names" [(ngModel)]="searchTerm" (input)="searchNames()" />
<ul>
  <input type="text" placeholder="Enter your Name" #name />
  <button (click)="addname(name.value)"> Add</button>
  <button>Search</button><br><br>
  <li *ngFor="let item of filteredList.length > 0 ? filteredList : list">
    {{item.username}} 
    <button (click)="capitalName(item)">Capitalize</button>
  </li>
</ul>

  
